<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inspector cabinet</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form action="#" th:action="@{/cabinet/inspector/saveReport}" th:object="${report}"
              method="POST">

            <input type="hidden" th:field="${report.id}" />

            <input type="text" th:field="${report.description}" class="form-control mb-4 col-4">

            <button type="submit" class="btn btn-info col-2"> Update </button>
        </form>
    </div>
</body>
</html>