<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h2>Registration</h2>
    <form method="POST">
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
        </p>
        <p>
            <label for="first_name">First name</label>
            <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First name" required>
        </p>
        <p>
            <label for="last_name">Last name</label>
            <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last name" required>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <button type="submit"> Sing Up </button>
    </form>

</body>
</html>