<!DOCTYPE html>
<html lang="en", xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
    <div>
        <form method = "POST" action="/cabinet/user/createRep">
            <input type = "text" name = "description" placeholder="Input text" />
            <button type="submit">Create</button>
        </form>
    </div>
    <div>
        <table border="1" class = "table table-striped table-responsive-md">
            <thead>
            <tr>
                <th th:text="Author" />
                <th th:text="Description" />
                <th th:text="Status" />
                <th th:text="Date" />
            </tr>
            </thead>
            <tbody>
            <tr th:each = "el : ${reports}">
                <td th:text="${el.author}" />
                <td th:text="${el.description}" />
                <td th:text="${el.status}" />
                <td th:text="${el.date}" />
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>